<svg (click)="animate()" #svg width="100px" height="50px" viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg">
  <path d="M10,50A40,40 0 1,1 90,50A40,40 0 1,1 170,50A40,40 0 1,1 90,50A40,40 0 1,1 10,50Z" fill="none" stroke="black" stroke-width="2">
    <animateTransform #animation
                      attributeName="transform"
                      type="rotate"
                      from="0 100 50"
                      to="360 100 50"
                      dur="5s"
                      repeatCount="indefinite"/>
  </path>
</svg>
