<form (ngSubmit)="onSubmit($event)" class="card create-world-form" [formGroup]="formGroup">
  <h2>Créer un monde</h2>
  <input type="text" placeholder="Nom" [formControl]="formGroup.controls.name">
  <textarea type="text" placeholder="Description" [formControl]="formGroup.controls.description"></textarea>
  <select [formControl]="formGroup.controls.era" >
    <option value="" disabled selected hidden>Choisissez une ère</option>
    <option *ngFor="let era of Object.keys(WorldEraEnum)" [value]="era">{{ era | eraTitle }}</option>
  </select>

  <span class="actions-span">
    <button type="submit">Sauvegarder</button>
    <button type="reset" class="warn">Réinitialiser</button>
  </span>
</form>
