@import '../../../../styles/variables';

:host {

}

.logo {
  aspect-ratio: 1/1;
  height: auto !important;
  width: fit-content !important;
  position: relative !important;
  cursor: pointer;
  transition: scale 0.2s ease-in-out;
  &:hover {
    scale: 0.95;
    transition: scale 0.2s ease-in-out;
  }
  margin-right: 2rem;
}

button {
  margin: 0.5rem;
  height: 50%;
}
